@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Noto+Music&display=swap"); */

@font-face {
  /* https://github.com/steinbergmedia/bravura/blob/02e8ed29a29115df35007d1178cebaeee26c20e1/redist/otf/BravuraText.otf */
  font-family: "Bravura Text";
  src: url("/BravuraText.otf");
}

@font-face {
  /* https://fonts.google.com/noto/specimen/Noto+Music */
  font-family: "Noto Music";
  src: url("/NotoMusic-Regular.ttf");
}

html {
  font-size: 16px;
}

.scroll-lock {
  overflow: hidden;
}

@layer components {
  .btn {
    @apply font-bold py-1 px-4 rounded;
  }
  .btn-sm {
    @apply text-sm py-0.5 px-2 rounded;
  }
  .btn-pill {
    @apply font-bold py-1 px-4 rounded-full;
  }
  .primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white;
    &:disabled {
      @apply bg-gray-300 hover:bg-gray-300;
    }
  }
  .success {
    @apply bg-green-500 hover:bg-green-700 text-white;
    &:disabled {
      @apply bg-gray-300 hover:bg-gray-300;
    }
  }
  .danger {
    @apply bg-red-500 hover:bg-red-700 text-white;
    &:disabled {
      @apply bg-gray-300 hover:bg-gray-300;
    }
  }
}
