@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Noto+Music&display=swap"); */

@font-face {
  /* https://github.com/steinbergmedia/bravura/blob/02e8ed29a29115df35007d1178cebaeee26c20e1/redist/otf/BravuraText.otf */
  font-family: "Bravura Text";
  src: url("/BravuraText.otf");
}

@font-face {
  /* https://fonts.google.com/noto/specimen/Noto+Music */
  font-family: "Noto Music";
  src: url("/NotoMusic-Regular.ttf");
}

html {
  font-size: 16px;
}

@layer components {
  .btn {
    @apply font-bold py-1 px-4 rounded;
  }
  .primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white;
  }
}
